@model FixMens.Models.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel de Administrador</h2>

<div class="row">
    <div class="col s6">
        <h5>Equipos en taller</h5>
        <table class="striped">
            <thead>
            <tr>
                <th>
                    Descripción
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.EquiposEnTaller)
            {
                <tr>
                    <th>
                        @item.Description
                    </th>
                    <th>
                        @item.Cant
                    </th>
                </tr>

            }

            </tbody>
        </table>
    </div>
    <div class="col s6">
        <h5>Reparaciones por técnico</h5>
        <table class="striped">
            <thead>
            <tr>
                <th>
                    Técnico
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ReparacionesPorTecnico)
            {
                <tr>
                    <th>
                        @item.Description
                    </th>
                    <th>
                        @item.Cant
                    </th>
                </tr>

            }

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <h5>Equipos Ingresados a taller</h5>
        <table class="striped">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Cantidad
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EquiposIngresados
                    )
            {
                    <tr>
                        <th>
                            @item.Description
                        </th>
                        <th>
                            @item.Cant
                        </th>
                    </tr>

                }

            </tbody>
        </table>
    </div>
    <div class="col s6">
        <h5>Reparaciones por técnico - Ultimas dos semanas</h5>
        <table class="striped">
            <thead>
                <tr>
                    <th>
                        Técnico
                    </th>
                    <th>
                        Anterior
                    </th>
                    @*<th>
                        Técnico
                    </th>*@
                    <th>
                        Actual
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReparacionesPorTecnicoSemana)
            {
                <tr>
                    <th>
                        @item.Description
                    </th>
                    <th>
                        @item.Cant
                    </th>
                
                    @*<th>
                        @item.Description2
                    </th>*@
                    <th>
                        @item.Cant2
                    </th>
                </tr>

                }

            </tbody>
        </table>
    </div>
</div>
<input type="password" id="password"/><input type="button" id="btnVentas" class="waves-effect waves-light btn" value="Mostrar ventas"/>
<div class="row hide" id="ventas">
    <div class="col s6">
        <h5>Ventas</h5>
        <table class="striped">
            <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Ventas)
            {
                <tr>
                    <th>
                        @Html.ActionLink(DateTime.Parse(@item.Description).ToString("yy-MMM-dd ddd"), "DetalleVentas", new { fecha = DateTime.Parse(@item.Description) }, new { @class = "lnkDetalleVentas" }) 
                        
                    </th>
                    <th>
                        $@item.Cant.00
                    </th>
                </tr>

            }

            </tbody>
        </table>
    </div>
    <div class="col s6">
        <h5>Egresos</h5>
        <table class="striped">
            <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Egresos)
            {
                <tr>
                    <th>
                       @Html.ActionLink(DateTime.Parse(@item.Description).ToString("yy-MMM-dd ddd"), "detalleEgresos",new {fecha= DateTime.Parse(@item.Description)}, new { @class = "lnkDetalleEgresos" }) 
                    </th>
                    <th>
                        $@item.Cant.00
                    </th>
                </tr>

            }

            </tbody>
        </table>
    </div>
</div>



<script>
    (function ($) {
        $(function () {

            $("#btnVentas").click(function () {
                if ($("#password").val() === "nasa290" || $("#password").val() === "1123581321") {
                    $("#ventas").removeClass("hide");
                    $("#password").addClass("hide");
                    $("#btnVentas").addClass("hide");
                }

            });
            $(".lnkDetalleEgresos")
                .click(function() {
                    $('#modal1').modal('open');

                    }
                );

        });


        // end of document ready
    })($); // end of jQuery name space
</script>
