<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FixMens</title>
    @*@Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/materialize")
    

</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">FixMens</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="http://consultarorden.ddns.net:8080/">Consultar</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                <li><a href="http://consultarorden.ddns.net:8080/"><i style="color: #009688" class="material-icons">perm_device_information</i>Consultar orden</a></li>
                <li><a href="tel:+528282840220"><i style="color: #009688" class="material-icons">call</i>Llamanos</a></li>
                <li><a href="mailto:atencion@fixmens.com.mx?Subject=Hola%20necesito%20información"><i style="color: #009688" class="material-icons">email</i>Envianos un correo</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
<div class="container body-content">
    <div class="progress" style="display: none;">
        <div class="indeterminate"></div>
    </div>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Fixmens Soluciones Tecnológicas</p>
    </footer>
</div>


@Styles.Render("~/Content/materialize")
   
@RenderSection("scripts", required: false)
</body>
</html>
